<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/tasks" class="nav-link active" aria-current="page">Tasks</a></li>
      <li class="nav-item"><a href="/add-task" class="nav-link" aria-current="page">New task</a></li>
<<<<<<< HEAD
=======
      <li class="nav-item"><a href="/login" class="nav-link" aria-current="page">Logout</a></li>
>>>>>>> 0fd0e5d (Add existing project files to Git)
    </ul>
  </header>
</div>