<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <form action="/add-task" method="post">
      <div class="row justify-content-center">
        <div class="form-group col-md-4 col-md-offset-5 align-center ">
          <h1>Add new task</h1>
          <label>Text</label>
          <input type="text" class="form-control mb-3" placeholder="task" name="text" required>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </form>
  </body>
</html>