<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body class="text-center" data-new-gr-c-s-check-loaded="14.1088.0" data-gr-ext-installed="">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 col-md-offset-5 align-center ">
        <form class="form-signin" action="/login" method="post">
          <img class="mb-4 mt-4" src="https://images.unsplash.com/photo-1586281380117-5a60ae2050cc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80" alt="" width="360"
            height="240">
          <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
          <label class="sr-only">Email address</label>
          <input type="email" name="username" class="form-control mb-3" placeholder="Email address" required="" autofocus=""
            control-id="ControlID-1">
          <label class="sr-only">Password</label>
          <input type="password" name="password" class="form-control mb-3" placeholder="Password" required=""
            control-id="ControlID-2">
            <% if (typeof message !== 'undefined') { %>
            <div class="alert alert-danger" role="alert">
              <%= message %>
            </div>
           <% } %>
          <button class="btn btn-lg btn-primary btn-block" type="submit" control-id="ControlID-4">Sign in</button>
          <p class="mt-5 mb-3 text-muted">© 2022</p>
        </form>
        <div id="apple-password-autofill-list"
          style="z-index: 2147483647 !important; padding: 0px !important; margin: 0px !important; border-radius: 8px !important; position: fixed !important; color-scheme: normal !important; box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px, rgba(0, 0, 0, 0.18) 0px 8px 15px 6px !important; border: 1px solid rgba(0, 0, 0, 0.2) !important; overflow: hidden !important; backdrop-filter: blur(20px) !important; background-color: rgba(230, 230, 230, 0.8) !important; top: 359px !important; left: -999999px !important; opacity: 0 !important; visibility: hidden !important;">
        </div>
      </div>
    </div>
  </div>
</body>
</html>